@import "src/@fuse/scss/fuse";

toolbar {
    position: relative;
    display: flex;
    flex: 0 0 auto;
    z-index: 4;

    &.below {
        z-index: 2;
    }

    .mat-toolbar {
        position: relative;
        background: inherit !important;
        color: inherit !important;
    }

    .logo {
        display: flex;
        align-items: center;

        .logo-icon {
            width: 38px;
        }
    }

    .app-title {
        align-content: center;
        height: 35px;
        width: 10px;
        margin: 10px;
        margin-left: 5px;
        margin-top: 5px;
        margin-bottom: 5px;
        font-size: 25px;
        text-shadow: 1px 1px 1px white;
    }

    .username {
        color: goldenrod;
    }

    .user-button,
    fuse-search-bar,
    .language-button,
    .chat-panel-toggle-button,
    .quick-panel-toggle-button {
        min-width: 64px;
        height: 64px;

        @include media-breakpoint("xs") {
            height: 56px;
        }
    }

    .navbar-toggle-button {
        min-width: 56px;
        height: 56px;
    }

    .toolbar-separator {
        height: 64px;
        width: 1px;

        @include media-breakpoint("xs") {
            height: 56px;
        }
    }
}
