.rounded {
    border-radius: 0px;
    column-span: all;
}

form {
    column-span: all;
}

button {
    background-color: #43869e;
    color: white;
    width: 65px;
    height: 25px;
    border: none;
    padding: 5px;
    margin-right: 10px;
    box-shadow: 1px 4px 8px 0 rgba(218, 181, 19, 0.2),
        0 6px 20px 0 rgba(133, 233, 186, 0.19);
    border-radius: 5px;
}

mat-horizontal-stepper.fill {
    width: 100%;
    height: 100%;
    background-color: inherit;
}

form.fill {
    width: 100%;
    height: 100%;
    background-color: inherit;
}

.mat-horizontal-stepper-header {
    box-sizing: border-box;
    flex-direction: column;
    height: auto;
    padding: 24px;
    border-radius: 25px;
}

.mat-stepper-horizontal-line {
    background-color: #43869e;
}

.mat-stepper-label-position-bottom
    .mat-horizontal-stepper-header:not(:first-child)::before,
.mat-stepper-label-position-bottom
    .mat-horizontal-stepper-header:not(:last-child)::after,
[dir="rtl"]
    .mat-stepper-label-position-bottom
    .mat-horizontal-stepper-header:not(:first-child)::after,
[dir="rtl"]
    .mat-stepper-label-position-bottom
    .mat-horizontal-stepper-header:not(:last-child)::before {
    width: 0 !important;
}

.mat-step-header .mat-step-header-ripple {
    display: none;
}
.mat-step-header.cdk-keyboard-focused,
.mat-step-header.cdk-program-focused,
.mat-step-header:hover {
    background-color: #fff;
}
.mat-stepper-label-position-bottom .mat-horizontal-stepper-header {
    padding: 8px 0 8px 0 !important;
    width: 35px !important;
}
.mat-stepper-label-position-bottom .mat-stepper-horizontal-line {
    top: 20px !important;
}
