<div class="page-layout blank p24 rounded" fusePerfectScrollbar>
    <mat-horizontal-stepper [linear]="isLinear" #stepper class="fill">
        <span>-------------------------</span>
        <mat-step [stepControl]="firstFormGroup">
            <form [formGroup]="firstFormGroup">
                <ng-template matStepLabel>Fill Primary Information</ng-template>
                <mat-form-field>
                    <mat-label>Name</mat-label>
                    <input
                        matInput
                        placeholder="Last name, First name"
                        formControlName="firstCtrl"
                        required
                    />
                </mat-form-field>
                <div>
                    <button mat-button matStepperNext>Next</button>
                </div>
            </form>
        </mat-step>
        <mat-step [stepControl]="secondFormGroup">
            <form [formGroup]="secondFormGroup">
                <ng-template matStepLabel>Questionnaire ?</ng-template>
                <mat-form-field>
                    <mat-label>Address</mat-label>
                    <input
                        matInput
                        formControlName="secondCtrl"
                        placeholder="Ex. 1 Main St, New York, NY"
                        required
                    />
                </mat-form-field>
                <div>
                    <button mat-button matStepperPrevious>Back</button>

                    <button mat-button matStepperNext>Next</button>
                </div>
            </form>
        </mat-step>
        <mat-step>
            <ng-template matStepLabel>Add Image</ng-template>
            <p></p>
            <div>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button (click)="stepper.reset()">Reset</button>
            </div>
        </mat-step>
        <mat-step>
            <ng-template matStepLabel>Add Document</ng-template>
            <p></p>
            <div>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button (click)="stepper.reset()">Reset</button>
            </div>
        </mat-step>
        <mat-step>
            <ng-template matStepLabel>Review and Submit</ng-template>
            <p></p>
            <div>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button (click)="stepper.reset()">Reset</button>
            </div>
        </mat-step>
    </mat-horizontal-stepper>

    <!-- Copyright 2019 Google LLC. All Rights Reserved.
      Use of this source code is governed by an MIT-style license that
      can be found in the LICENSE file at http://angular.io/license -->
</div>
