.rounded {
    border-radius: 0px;
    column-span: all;
}

form {
    column-span: all;
}

button {
    background-color: #43869e;
    color: white;
    width: 65px;
    height: 25px;
    border: none;
    padding: 5px;
    margin-right: 10px;
    box-shadow: 1px 4px 8px 0 rgba(218, 181, 19, 0.2),
        0 6px 20px 0 rgba(133, 233, 186, 0.19);
    border-radius: 5px;
}

mat-horizontal-stepper.fill {
    width: 100%;
    height: 100%;
    background-color: inherit;
}
